button {
  margin: 1em;

  img {
    height: 1.1em;
    margin-bottom: 0.2em;
  }
}

main {
  margin-top: 2em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2em;
      font-weight: bold;
    }
  }

}

.logout {
  padding-top: 5em;
}
