<mat-card>
  <h3 *ngIf="isSignup">Create Account</h3>

  <h3 *ngIf="isLogin">Sign In</h3>

  <h3 *ngIf="isPasswordReset">Reset Password</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="email.valid && 'primary'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />

      <mat-error *ngIf="email.invalid && email.dirty">
        You must enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="email.valid && 'primary'" *ngIf="!isPasswordReset">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="off"
      />

      <mat-error *ngIf="password.invalid && password.dirty">
        Password must be at least 6 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="passwordDoesMatch ? 'primary' : 'warn'"
      *ngIf="isSignup"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        type="password"
        placeholder="Confirm password"
        autocomplete="off"
      />

      <mat-error *ngIf="passwordConfirm.dirty && !passwordDoesMatch">
        Password does not match
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <button
      *ngIf="isPasswordReset"
      mat-raised-button
      type="submit"
      [disabled]="email.invalid || loading"
      class="submit-btn"
      color="accent"
    >
      Send Reset Email
    </button>
    <div class="submit-btn">
      <button
        *ngIf="!isPasswordReset"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="form.invalid || !passwordDoesMatch || loading"
      >
        Submit
      </button>
    </div>
  </form>

  <div class="button-group">
    <button
      *ngIf="isSignup"
      mat-button
      (click)="changeType('login')"
      color="primary"
    >
      Returning user?
    </button>

    <button
      *ngIf="isLogin"
      size="small"
      mat-button
      (click)="changeType('signup')"
      color="primary"
    >
      New user?
    </button>
    <button
      class="forget"
      mat-button
      *ngIf="isLogin && !isPasswordReset"
      (click)="changeType('reset')"
      color="primary"
    >
      Forgot password?
    </button>
    <button
      *ngIf="isPasswordReset"
      size="small"
      mat-button
      (click)="changeType('login')"
      color="primary"
    >
      Back
    </button>
  </div>
</mat-card>
