.content {
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

.red {
  color: #e74a4a;
}
.green {
  color: #36e981;
}
.blue {
  color: #71c6ff;
}
.purple {
  color: #8d5cff;
}
.yellow {
  color: #ffcf44;
}
.gray {
  color: gray;
}
